#logo-container{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 5rem;
  display: grid;
  place-items: center;
  z-index: -1;
  // width: 6rem;
  // width: 100vw;
  // padding: 0 1rem;
  // background: #ffffff08;
  // box-shadow: 0 .125rem .5rem #0008;
  // border-bottom: .0625rem solid #307BFF20;
}